.character {
  position: fixed;
  top: 50%;
  left: 50%;
  /* Center the container, then nudge right by 8px to account for sprite visual weight */
  transform: translate(calc(-50% + 8px), -50%);
  z-index: 10;
  pointer-events: none;
}

.sprite {
  display: block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
